/* styles.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Absolute black background */
    color: #fff; /* Default text color */
}

header {
    background-color: #333; /* Dark gray header background */
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: #222; /* Dark background for sections */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #ff8c00; /* Dark orange color for headings */
    text-align: center; /* Centered headings */
}

p {
    color: #fff; /* White text color */
}

footer {
    background-color: #333; /* Dark gray footer background */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff; /* White text color */
}
